<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Sydney's Cheesey Cheese</title>
<link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
 
    <header>
        <h1>Sydney's Cheesey Cheese</h1>
        <h2>view our cheeses</h2>
    </header>
    
    <main>
        <nav>
            <a href="/template/index.html">Home</a>
            <a href="/template/inventory/index.html">Add Cheese Inventory</a>
            <a href="/template/inventory/view.html">View Our Cheeses</a> 
            <a href="#">About Us</a>
        </nav>
        
        <section>
        <img src="/static/images/cheese.jpg"  alt="wheels of cheese">
                
           
        </section>
    </main>
 
<footer>
    <address>&copy; 2022 Akshita Bajaj</address>
</footer>
</body>
</html>
